@charset "UTF-8";
/* Body */
body {
	font-family: "Jungka-Book", "Myriad Pro", Helvetica, Arial, "sans-serif";
	background-color: #f2f2f2;
	max-width: 1440px;
	font-style: normal;
	font-weight: 50;
	margin: 0 auto;
}
/* Container */
.container {
	margin-left: auto;
	margin-right: auto;
	height: 811px;
	background-color: #FFFFFF;
	margin-top: -16px;
	position: static;
}
/* Navigation */
header {
	width: 100%;
	height: 100px;
	background-color: #fff;
	border-bottom: 1px solid #d8d8d8;
}
.logo {
	color: #999;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #999;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #999;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
	height: 40%;
	background-color: #B3B3B3;
	padding-top: 150px;
	padding-bottom: 150px;
	background-image: url(../images/hero.jpg);
.jpg;
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* About Section */


/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
	text-align: center;
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
	display: flex;
	justify-content: center;
}
.thumbnail {
	clear: both;
	width: 33%;
	text-align: center;
	margin: 100px 5% 150px 5%;
}

.gallery .thumbnail h4 {
	margin-top: 35px;
	margin-right: 5px;
	margin-bottom: 15px;
	margin-left: 5px;
	color: #32313c;
	font-family: "Jungka-Book", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.5em;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: "Jungka-Book", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #32313c;
	font-size: 1.0em;
}

/* Parallax Section */
.banner {
	background-color: #fff;
	height: 200px;
}
.svg {
	margin-top: 20px;
	position: relative;
}
.parallax {
	color: #32313c;
	font-family: "Jungka-Book", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.5em;
	text-align: left;
    margin-left: 5%;
	padding-top: 0px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #32313c;
	font-family: "Jungka-Book", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.0em;
	text-align: left;
	margin-left: 5%;
	width: 30%;
	float: left;
	font-weight: lighter;
	line-height: 23px;
	margin-bottom: 300px;
}
.content {
  background-color: #fff;
  height: 2500px ;
  width:100%;
}
.journey {
	width: 100%; 
	margin-left: auto;
	margin-right: auto;
	position:relative;
}

.bezier {  
	clear: both;
	margin-top: -400px;
	width:800px;
	height:1745px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 0;

}

.element1 {
	background-color: #fff;
	float: left;
	width: 300px;
	left: 52%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 0px;
	margin-left: -323px;
	top: 100px;
}
.text-container1 {
	background-color: #fff;
	float: left;
	width: 250px;
	left: 52%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 0px;
	margin-left: -285px;
	top: 270px;
}
.element2 {
	background-color: #fff;
	float: left;
	width: 215px;
	height: 300px;
	left: 61%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 189px;
	margin-left: 89px;
	top: 286px;
}
.text-container2 {
	background-color: #fff;
	float: left;
	width: 200px;
	left: 60%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 80px;
	margin-left: 100px;
	top: 570px;
	padding-left: 10px;
}
.element3 {
	background-color: #fff;
	float: left;
	width: 200px;
	height: 300px;
	left: 19%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 300px;
	margin-left: 21px;
	top: 392px;
}
.text-container3 {
	background-color: #fff;
	float: left;
	width: 300px;
	left: 27%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 80px;
	margin-left: 100px;
	top: 800px;
}
.element4 {
	background-color: #fff;
	float: left;
	width: 300px;
	height: 300px;
	left: 19%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 200px;
	margin-left: 21px;
	top: 928px;
}
.text-container4 {
	background-color: #fff;
	float: left;
	width: 300px;
	left: 14%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 80px;
	margin-left: 100px;
	top: 1238px;
}
.element5 {
	background-color: #fff;
	float: left;
	width: 200px;
	height: 200px;
	left: 68%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 269px;
	margin-left: 21px;
	top: 1208px;
}
.text-container5 {
	background-color: #fff;
	float: left;
	width: 200px;
	left: 64%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 80px;
	margin-left: 100px;
	top: 1593px;
}
.element6 {
	background-color: #fff;
	float: left;
	width: 200px;
	height: 200px;
	left: 16%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 269px;
	margin-left: 21px;
	top: 1560px;
}
.text-container6 {
	background-color: #fff;
	float: left;
	width: 288px;
	left: 10%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 380px;
	margin-left: 100px;
	top: 1618px;
}
.number1 {
	position: absolute;
	color: #2aecae;
	font-family: "Jungka-Book", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: 0px;
	left: -20%;
	top: -15px;
	z-index: 1;
	background-color: #FFFFFF;
	height: 50px;
	vertical-align: top;
	padding-left: 5px;
}
.number2 {
	position: absolute;
	color: #2aecae;
	font-family: "Jungka-Book", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	text-align: left;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: 50px;
	left: -51%;
	top: -20px;
	z-index: 1;
	background-color: #ffffff;
	padding-left: 17px;
	padding-top: 6px;
}
.number3 {
	position: absolute;
	color: #2aecae;
	font-family: "Jungka-Book", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	text-align: left;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: 50px;
	left: -33%;
	z-index: 1;
	top: -12px;
}
.number4 {
	position: absolute;
	color: #2aecae;
	font-family: "Jungka-Book", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	text-align: left;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: 0px;
	left: -17%;
	z-index: 1;
	top: -11px;
}
.number5 {
	position: absolute;
	color: #2aecae;
	font-family: "Jungka-Book", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	text-align: left;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: 0px;
	left: -27%;
	z-index: 1;
	top: -14px;
	background-color: #ffffff;
}
.number6 {
	position: absolute;
	color: #2aecae;
	font-family: "Jungka-Book", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	text-align: left;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: -10px;
	left: -16%;
	z-index: 1;
	top: -15px;
}

.element_title{
	color: #32313c;
	font-family: "Jungka-Regular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.5em;
	text-align: left;
	font-weight:500;
	margin-bottom: 10px;
	vertical-align: top;
}
.element_text{
	font-family: "Jungka-Book", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1em;
	text-align: left;
	color: #32313c;
	text-align: left;
	font-weight: lighter;
	line-height: 23px;
}




.hidden {
	display: none;
}

/* Mobile - WIP! */
@media (max-width: 375px) {

.body{
	width:device-width;
	overflow: hidden;
}
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}

.content{
	overflow: hidden;
	width:95%;
}
	
.gallery {
	display: block;
	float:none;
}

.journey{
	display:block;
	float:none;
}

.number1{
	position: relative;
	display:block;
	float: none;
    margin:0px;
	top:0;
	bottom:50px;
	left:0;
    border:0;
}
.element1{
	display:block;
	float: none;
    margin:30px;
	left:0;
    width:90%;
    border:0;
}
.element2{
	display:block;
	float: none;
    margin:120px 0;
    width:auto;
    border:0;
}

.element3{
	float:left;
}
.element4{
	float:left;
}
.element5{
	float:left;
}
.element6{
	float:left;
}
.text-container1{
	display:block;
	float: none;
    margin:30px;
	left:0;
    width:90%;
    border:0;
}	
.text-container2{
	position: relative;
	display:block;
	float: none;
    margin:0;
    width:auto;
    border:0;
}	
.text-container3{
	float:left;	
}	
	
.element_title{
	float: none;
    margin-right:0;
    width:auto;
    border:0;
}
.element_text{
	float: none;
    margin-right:0;
    width:auto;
    border:0;
}
.thumbnail {
 margin-top: 125px;
 margin-bottom: 25px;
 padding-left: 2%;
 padding-right: 2%;
}

.bezier {
	display: none;
	visibility: hidden;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {

}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets - WIP! */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}
.line {
  stroke: #000000;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
/* Small Desktops - - WIP! */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
