@charset "UTF-8";
/* Body */
body {
	font-family: "jungkaregular", "Myriad Pro", Helvetica, Arial, "sans-serif";
	background-color: #d8d8d8;
	max-width: 1440px;
	font-style: normal;
	font-weight: 50;
	margin: 0 auto;
}
/* Container */
.container {
	margin-left: auto;
	margin-right: auto;
	height: 811px;
	background-color: #FFFFFF;
	margin-top: -16px;
	position: static;
}
/* Navigation */
header {
	width: 100%;
	height: 100px;
	background-color: #fff;
	border-bottom: 1px solid #d8d8d8;
}
.logo {
	color: #999;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #999;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #999;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
	height: 40%;
	background-color: #B3B3B3;
	padding-top: 150px;
	padding-bottom: 150px;
	background-image: url(../images/hero.jpg);
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*  Gallery */

.gallery {
	text-align: center;
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #F7F7F7;
	padding-bottom: 15px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
	justify-content: center;
}
.thumbnail {
	clear: both;
	width: 33%;
	text-align: center;
	margin: 100px 5% 100px 5%;
}

.gallery .thumbnail h4 {
	margin-top: 35px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #32313c;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.5em;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #32313c;
	font-size: 1.0em;
}

/* Parallax Section */
.banner {
	height: 200px;
	background-color: #FFFFFF;
}
.svg {
	margin-top: 20px;
	position: relative;
}
.parallax {
	color: #4a4a4a;
	background-color: #ffffff;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.5em;
	text-align: left;
    margin-left: 5%;
	padding-top: 50px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #32313c;
	background-color: #ffffff;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.0em;
	text-align: left;
	margin-left: 5%;
	width: 30%;
	float: left;
	font-weight: lighter;
	line-height: 23px;
	margin-bottom: 300px;
}
.content {
  background-color: #fff;
  height: 2500px ;
  width:100%;
}
.journey {
	width: 100%; 
	margin-left: auto;
	margin-right: auto;
	position:relative;
}

.bezier {  
	clear: both;
	margin-top: -400px;
	width:800px;
	height:1745px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 0;

}

.element1 {
	background-color: #fff;
	float: left;
	width: 300px;
	left: 52%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 0px;
	margin-left: -323px;
	top: 100px;
}
.text-container1 {
	background-color: #fff;
	float: left;
	width: 250px;
	left: 52%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 0px;
	margin-left: -285px;
	top: 270px;
}
.element2 {
	background-color: #fff;
	float: left;
	width: 215px;
	height: 300px;
	left: 61%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 189px;
	margin-left: 89px;
	top: 286px;
}
.text-container2 {
	background-color: #fff;
	float: left;
	width: 200px;
	left: 60%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 80px;
	margin-left: 100px;
	top: 570px;
	padding-left: 10px;
}
.element3 {
	background-color: #fff;
	float: left;
	width: 200px;
	height: 300px;
	left: 19%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 300px;
	margin-left: 21px;
	top: 392px;
}
.text-container3 {
	background-color: #fff;
	float: left;
	width: 300px;
	left: 27%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 80px;
	margin-left: 100px;
	top: 800px;
}
.element4 {
	background-color: #fff;
	float: left;
	width: 300px;
	height: 300px;
	left: 19%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 200px;
	margin-left: 21px;
	top: 928px;
}
.text-container4 {
	background-color: #fff;
	float: left;
	width: 300px;
	left: 14%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 80px;
	margin-left: 100px;
	top: 1238px;
}
.element5 {
	background-color: #fff;
	float: left;
	width: 200px;
	height: 200px;
	left: 68%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 269px;
	margin-left: 21px;
	top: 1208px;
}
.text-container5 {
	background-color: #fff;
	float: left;
	width: 200px;
	left: 64%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 80px;
	margin-left: 100px;
	top: 1593px;
}
.element6 {
	background-color: #fff;
	float: left;
	width: 200px;
	height: 200px;
	left: 16%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 269px;
	margin-left: 21px;
	top: 1560px;
}
.text-container6 {
	background-color: #fff;
	float: left;
	width: 288px;
	left: 10%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 380px;
	margin-left: 100px;
	top: 1618px;
}
.number1 {
	position: absolute;
	color: #2aecae;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: 0px;
	left: -20%;
	top: -15px;
	z-index: 1;
	background-color: #FFFFFF;
	height: 50px;
	vertical-align: top;
	padding-left: 5px;
}
.number2 {
	position: absolute;
	color: #2aecae;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	text-align: left;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: 50px;
	left: -51%;
	top: -20px;
	z-index: 1;
	background-color: #ffffff;
	padding-left: 17px;
	padding-top: 6px;
}
.number3 {
	position: absolute;
	color: #2aecae;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	text-align: left;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: 50px;
	left: -33%;
	z-index: 1;
	background-color: #ffffff;
	top: -12px;
}
.number4 {
	position: absolute;
	color: #2aecae;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	text-align: left;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: 0px;
	left: -17%;
	z-index: 1;
	background-color: #ffffff;
	top: -11px;
}
.number5 {
	position: absolute;
	color: #2aecae;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	text-align: left;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: 0px;
	left: -27%;
	z-index: 1;
	top: -14px;
	background-color: #ffffff;
}
.number6 {
	position: absolute;
	color: #2aecae;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	text-align: left;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: -10px;
	left: -16%;
	z-index: 1;
	background-color: #ffffff;
	top: -15px;
}

.element_title{
	color: #32313c;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.5em;
	text-align: left;
	font-weight:500;
	margin-bottom: 10px;
	vertical-align: top;
}
.element_text{
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1em;
	text-align: left;
	color: #32313c;
	text-align: left;
	font-weight: lighter;
	line-height: 23px;
}




.hidden {
	display: none;
}

/* Mobile ------------------------------------  */
@media (max-width: 414px) {

.body{
	width:device-width;
	overflow: hidden;
}
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	display: none;
}

.content{
	overflow: hidden;
	width:100%;
	height: 3800px;
}
	
.gallery {
	background-color: #F7F7F7;
	padding-top: 50px;
	display: block;
	float:none;
}

.thumbnail {
 margin: 0px auto 50px auto;
 width: 70%;
}

.journey{
	display:block;
	float:none;

}

.number1,
.number2,
.number3,
.number4,
.number5,
.number6{
	position: relative;
	float:left;
	background-color: transparent;
    margin: 20px auto 50px auto;
	top:-105px;
	width: 10%;
	bottom:50px;
	left:0px;
    border:0;
    padding: 0;
}


.element1,
.element2,
.element3,
.element4,
.element5,
.element6{
	position: relative;
	float:none;
    margin: 150px auto 0px auto;
	left:0px;
	top:0px;
	right:0;
    width:50%;
    padding: 0px;
}

.text-container1,
.text-container2,
.text-container3,
.text-container4,
.text-container5,
.text-container6{
	position: relative;
	float:none;
    margin: 50px auto 150px auto;
	left:0px;
	top:0px;
	right:0px;
    width:80%;
    border:0px;
}	
	
.element_title{
	display: block;
	text-align: center;
    margin: 0;
    padding: 0;
    width:90%;
    border:0;
}
.element_text{
	display: block;
	text-align: center;
    margin-right:0;
    width:auto;
    border:0;
}

.bezier {
	display: none;
	visibility: hidden;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.banner {
  width: 100%;
  margin-top: 0px
  background-color: red;
}
.parallax {
	text-align: center;
	margin: 0px auto 20px auto;
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	background-color: #ffffff;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin: 0px auto 150px auto;
	float: none;
	text-align: center;
}

.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small tablets  */
@media (min-width: 415px)and (max-width: 1023px) {
.body{
	width:device-width;
	overflow: hidden;
}
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	display: none;
}

.content{
	overflow: hidden;
	width:100%;
	height: 3800px;
}
	
.gallery {
	padding-top: 50px;
	display: block;
	float:none;
}
.banner {
  width: 100%;
}
.parallax { 
	text-align: center;
	margin: 0px auto 20px auto;
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin: 0px auto 150px auto;
	float: none;
	text-align: center;
}

.journey{
	display:block;
	float:none;

}

.number1,
.number2,
.number3,
.number4,
.number5,
.number6{
	position: relative;
	float:left;
	background-color: transparent;
    margin: 20px auto 50px auto;
	top:-105px;
	width: 10%;
	bottom:50px;
	left:0px;
    border:0;
    padding: 0;
}

.element1,
.element2,
.element3,
.element4,
.element5,
.element6{
	position: relative;
	float:none;
    margin: 150px auto 0px auto;
	left:0px;
	top:0px;
	right:0;
    width:30%;
    border:0;
    padding: 0px;
}

.text-container1,
.text-container2,
.text-container3,
.text-container4,
.text-container5,
.text-container6{
	position: relative;
	float:none;
    margin: 50px auto 150px auto;
	left:0px;
	top:0px;
	right:0px;
    width:80%;
    border:0px;
}	
	
.element_title{
	display: block;
	text-align: center;
    margin: 0;
    padding: 0;
    width:90%;
    border:0;
}
.element_text{
	display: block;
	text-align: center;
    margin-right:0;
    width:auto;
    border:0;
}
.thumbnail {
 
 margin: 50px auto 150px auto;
 padding-left: 2%;
 padding-right: 2%;
 width: 80%;
}

.bezier {
	display: none;
	visibility: hidden;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.footer_column {
	width: 100%;
	margin-top: 0px;
}


.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}


/* Small desktops  */
@media (min-width: 1024px)and (max-width: 1110px) {
.body{
	width:device-width;
	overflow: hidden;
}
/*  Gallery */

.gallery {
	text-align: center;
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #F7F7F7;
	padding-bottom: 15px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: flex;
	justify-content: center;
}
.thumbnail {
	clear: both;
	width: 33%;
	text-align: center;
	margin: 100px 5% 100px 5%;
}

.gallery .thumbnail h4 {
	margin-top: 35px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #32313c;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.5em;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #32313c;
	font-size: 1.0em;
}

/* Parallax Section */
.banner {
	height: 200px;
	background-color: #FFFFFF;
}
.svg {
	margin-top: 20px;
	position: relative;
}
.parallax {
	color: #4a4a4a;
	background-color: #ffffff;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.5em;
	text-align: left;
    margin-left: 5%;
	padding-top: 50px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #32313c;
	background-color: #ffffff;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.0em;
	text-align: left;
	margin-left: 5%;
	width: 30%;
	float: left;
	font-weight: lighter;
	line-height: 23px;
	margin-bottom: 300px;
}
.content {
  background-color: #fff;
  height: 2500px ;
  width:100%;
}
.journey {
	width: 100%; 
	margin-left: auto;
	margin-right: auto;
	position:relative;
}

.bezier {  
	clear: both;
	margin-top: -400px;
	width:800px;
	height:1745px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 0;

}

.element1 {
	background-color: #fff;
	float: left;
	width: 300px;
	left: 52%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 0px;
	margin-left: -323px;
	top: 100px;
}
.text-container1 {
	background-color: #fff;
	float: left;
	width: 250px;
	left: 52%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 0px;
	margin-left: -285px;
	top: 270px;
}
.element2 {
	background-color: #fff;
	float: left;
	width: 215px;
	height: 300px;
	left: 61%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 189px;
	margin-left: 89px;
	top: 286px;
}
.text-container2 {
	background-color: #fff;
	float: left;
	width: 200px;
	left: 60%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 80px;
	margin-left: 100px;
	top: 570px;
	padding-left: 10px;
}
.element3 {
	background-color: #fff;
	float: left;
	width: 200px;
	height: 300px;
	left: 19%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 300px;
	margin-left: 21px;
	top: 392px;
}
.text-container3 {
	background-color: #fff;
	float: left;
	width: 300px;
	left: 27%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 80px;
	margin-left: 100px;
	top: 800px;
}
.element4 {
	background-color: #fff;
	float: left;
	width: 300px;
	height: 300px;
	left: 19%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 200px;
	margin-left: 21px;
	top: 928px;
}
.text-container4 {
	background-color: #fff;
	float: left;
	width: 300px;
	left: 14%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 80px;
	margin-left: 100px;
	top: 1238px;
}
.element5 {
	background-color: #fff;
	float: left;
	width: 200px;
	height: 200px;
	left: 68%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 269px;
	margin-left: 21px;
	top: 1208px;
}
.text-container5 {
	background-color: #fff;
	float: left;
	width: 200px;
	left: 64%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 80px;
	margin-left: 100px;
	top: 1593px;
}
.element6 {
	background-color: #fff;
	float: left;
	width: 200px;
	height: 200px;
	left: 16%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 269px;
	margin-left: 21px;
	top: 1560px;
}
.text-container6 {
	background-color: #fff;
	float: left;
	width: 288px;
	left: 10%;
	height: 150px;
	z-index: 1;
	position: absolute;
	margin-top: 380px;
	margin-left: 100px;
	top: 1618px;
}
.number1 {
	position: absolute;
	color: #2aecae;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: 0px;
	left: -20%;
	top: -15px;
	z-index: 1;
	background-color: #FFFFFF;
	height: 50px;
	vertical-align: top;
	padding-left: 5px;
}
.number2 {
	position: absolute;
	color: #2aecae;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	text-align: left;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: 50px;
	left: -51%;
	top: -20px;
	z-index: 1;
	background-color: #ffffff;
	padding-left: 17px;
	padding-top: 6px;
}
.number3 {
	position: absolute;
	color: #2aecae;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	text-align: left;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: 50px;
	left: -33%;
	z-index: 1;
	background-color: #ffffff;
	top: -12px;
}
.number4 {
	position: absolute;
	color: #2aecae;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	text-align: left;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: 0px;
	left: -17%;
	z-index: 1;
	background-color: #ffffff;
	top: -11px;
}
.number5 {
	position: absolute;
	color: #2aecae;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	text-align: left;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: 0px;
	left: -27%;
	z-index: 1;
	top: -14px;
	background-color: #ffffff;
}
.number6 {
	position: absolute;
	color: #2aecae;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 4.0em;
	text-align: left;
	font-weight: lighter;
	margin-top: 0px;
	margin-left: -10px;
	left: -16%;
	z-index: 1;
	background-color: #ffffff;
	top: -15px;
}

.element_title{
	color: #32313c;
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.5em;
	text-align: left;
	font-weight:500;
	margin-bottom: 10px;
	vertical-align: top;
}
.element_text{
	font-family: "jungkaregular", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1em;
	text-align: left;
	color: #32313c;
	text-align: left;
	font-weight: lighter;
	line-height: 23px;
}




.hidden {
	display: none;
}